<div class="sidebar">
<a href ="{{route('doc.index')}}"">Docs</a>
<a href ="{{route('text.index')}}"">Texts</a>
<a href ="{{route('code.index')}}"">Codes</a>
<a href ="https://portfolio-phi-eight-17.vercel.app/">Portfolio</a>
<a href = "#">New</a>
</div>