<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create code</title>
    @entryPointStyles('app')
    @entryPointScripts('app')
</head>
<body>
@!component('components/menu')
<main>
<h1>Create code</h1>

<form method="POST" action="{{route("code.store")}}">

<label for="content">Code</label>
<textarea id="content" name="content" rows="15" cols="75">
</textarea><br>

@!component('components/input', {
    name: 'language',
    label: 'Le language'
})

<div class="add-result">
<h2>Add result</h2>

<label for="result">Le résulat</label>
<textarea id="result" name="result" rows="15" cols="40">
</textarea><br>

<label for="type">Le type de résultat</label>
<select name="type" id="type">
@each(type in resultTypeOptions)
<option value="{{type}}">{{type}}</option>
@endeach
</select>

<label for="doc">La doc</label>
<select name="docId" id="doc">
<option value="" selected>--Please choose an option--</option>
@each(doc in docs)
<option value="{{doc.id}}">{{doc.title}}</option>
@endeach
</select>
</div>

<input type="submit">
</form>
</main>
</body>