<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Codes</title>
    @entryPointStyles('app')
</head>
<body>
@!component('components/menu')
<main>
<h1>Les codes</h1>
<table>
<thead>
    <tr>
        <th>Doc</th>
        <th>Langage</th>
        <th>Code</th>
        <th>Résultat</th>
        <th colspan='2'>Actions</th>
    </tr>
</thead>
<tbody>
@each(code in codes)
<tr>
<td>
@if(code.doc != null)
    {{ code.doc.title }}
@else
    no doc
@endif
</td>
<td>{{code.language}}</td>
<td><pre>{{code.code}}</pre></td>
<td>
@if(code.result != null)
    {{code.result.type}}
@else
    aucun résultat
@endif
</td>
<td>
{{-- SHOW --}}
<p><a href ="{{route('code.show', [code.id])}}">Show</a></p>

{{-- EDIT --}}
<p><a href ="{{route('code.edit', [code.id])}}">Edit</a></p>

{{-- DELETE --}}
@!component('components/deleteButton', {
    route: route('code.delete', [code.id], {
    qs: {
        _method: 'DELETE'
      }
    })
    })
</td>
</tr>
@endeach
</tbody>
</table>
<a href="{{route('code.create')}}">New code</a>
</main>
@entryPointScripts('app')
</body>