<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create doc</title>
    @entryPointStyles('app')
    @entryPointScripts('app')
</head>
<body>
@!component('components/menu')
<main>
<h1>Create doc</h1>

<form method="POST" action="{{route("doc.store")}}">
@!component('components/input', {
      name: 'title',
      label: 'title',
    })

<input class="" type="submit">
</form>
</main>
</body>