<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Show doc</title>
    @entryPointStyles('app')
    @entryPointScripts('app')
</head>
<body>
@!component('components/menu')
<main>
<h1>Show {{doc.title}}</h1>
<div class="show-attributes">
<a class="blue-button" href ="{{route('doc.edit', [doc.id])}}">Edit</a>
<h2>Elements</h2>
<table>
<thead>
<tr>
    <th>Content</th>
    <th>Result</th>
    <th>Type</th>
    <th>Actions</th>
</tr>
</thead>
<tbody>
@each(element in elements)
<tr>

@if(element.language)
    <td><pre>{{element.content}}</pre></td>
    @if(element.result)
        <th>{{element.result.type}}</th>
    @else
        <td>no result</td>
    @endif
    <td>Code</td>
    <td>
        {{-- DOWN --}}
    @!component('components/downButton', {
        route: route('code.down', [element.id], {
            qs: {
                _method: 'PUT'
            }
        })
    })
@else
    <td class="textcell" colspan="2">{{element.content}}</td>
    <td>Text</td>
    <td>
        {{-- DOWN --}}
    @!component('components/downButton', {
        route: route('text.down', [element.id], {
            qs: {
                _method: 'PUT'
            }
        })
    })
@endif
</td>

</tr>
@endeach
</tbody>
</table>

<h2>Html</h2>
<pre>

</pre>
</div>
</main>
</body>