<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Show text</title>
    @entryPointStyles('app')
    @entryPointScripts('app')
</head>
<body>
@!component('components/menu')
<main>
<h1>Show text</h1>
<div class="show-attributes">
<a class="blue-button" href ="{{route('text.edit', [text.id])}}">Edit</a>
<h2>Content</h2>
<pre>{{ text.content }}</pre>
<h2>Doc</h2>

<h2>Html</h2>
<pre>
@each(line in text.content.split('\r\n'))
&lt;p class="gray">{{ line }}&lt;/p>
@endeach
</pre>
</div>
</main>
</body>